<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <span th:include="includes :: css"></span>

</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <div class="">
        <h2 class="">Artist</h2>
        <form class="form-inline" action="/artist" method="post">
            <div class="form-group">
                <label for="searchArtist">Search Artist Name: </label>
                <input type="text" class="form-control" name="searchArtist" id="searchArtist" placeholder="Artist"/>
                <button type="submit" class="btn btn-defualt">Search</button>
            </div>
        </form>
        <span class=""><a th:href="@{/artist}" type="button" class="btn btn-default">Show All</a></span>
        <span class=""><a th:href="@{/artist/add}" type="button" class="btn btn-default">Add Artist</a></span>
    </div>
    <div class="allArtist">
        <div class="row">
            <div th:each="artist : ${artists}" class="col-sm-6 col-md-4">
                <div class="">
                    <h3 th:text="${artist.artistName}"></h3>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
<span th:include="includes :: js"></span>
</body>
</html>