<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <h1>
        <span>Edit </span>
        <span th:text="${artist.artistName}"></span>
    </h1>
    <form class="form-horizontal" th:action="'/artist/edit/' + ${artist.id}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="artistName">Artist Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="artistName" id="artistName" th:value="${artist.artistName}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Edit Artist</button>
            </div>
        </div>
    </form>
</div>
<span th:include="includes :: js"></span>
</body>
</html>