<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">
    <div class="allArtist">
        <div class="">
            <h2 class="">Added Artist</h2>
            <div class="row">
                <div th:each="artist : ${artists}" class="col-sm-6 col-md-4">
                    <h3 th:text="${artist.artistName}"></h3>
                </div>
            </div>
            <span class=""><a href="/artist" type="button" class="btn btn-default">Artist</a></span>
        </div>
    </div>
        <div class="allAlbum">
            <div class="">
                <h2 class="">Added Albums</h2>
                <div class="row">
                    <div th:each="album : ${albums}" class="col-sm-6 col-md-4">
                        <h3 th:text="${album.albumName}"></h3>
                    </div>
                </div>
                <span class=""><a href="/artist" type="button" class="btn btn-default">Artist</a></span>
            </div>
        </div>
        <h1>hi</h1>
        <div class="row">
            <div th:each="song : ${songs}" class="col-sm-6 col-md-4">
                <h3 th:text="${song.songName}"></h3>
            </div>
        </div>
    </div>
<span th:include="includes :: js"></span>
</body>
</html>