<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Navbar</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Braxtify</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="dropdown">
                        <a th:href="@{/artist}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artist <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/artist}">See All Artist</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/artist/add}">Add Artist</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a th:href="@{/album}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Album <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/album}">See All Albums</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/album/add}">Add Album</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>